body{
  background-color: black;
}

ion-content{
  background-color: black !important;
}
page-home {
  #header{
    width: 100%;
    height: 10%;
    position: sticky;
    top:0;
    z-index: 1;

    background-color: black;

    h1{
      text-align: center;
      color: Black;
      transform: rotate(359deg);
      font-size: 200%;
      font-family: fantasy;
      text-shadow: 3px 0 0 white, -3px 0 0 white, 0 3px 0 white, 0 -3px 0 white, 2px 2px white, -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white;
      margin-top: 0;
      padding-top: 15px;
    }

    .line{
      position: fixed;
      left: 0;
      width: 100%;
      height: 5px;
      z-index: 10;
      background-color: White;
      transform: rotate(359deg);
    }
  }
  #content{
    width: 100%;
    min-height: 80%;
    position: relative;

    background-color: black;

    #contentText{
      width: 100%;
      position: absolute;

      left:0;
      right:0;
      margin:auto;
      background-color: black;
    }
  }
  #footer{
    width: 100%;
    height: 10%;

    position: sticky;

    bottom: -1px;
    z-index: 1;

    background-color: yellow;
  }
}
